:root {
	--primary-color: #ff9845;

  /* 全局修改 Vant 搜索框左侧图标颜色 */
  --van-search-left-icon-color: var(--primary-color) !important;

  /* 灰色分割线颜色 */
  --line-color: #faf8f9;

  /* 用于按钮的渐变颜色  */
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);

  /* 重写 vant 中的主题色 */
  --van-primary-color: var(--primary-color)
}

body {
	font-size: 14px;
	font-family: 'Courier New', Courier, monospace;
}

/* 组件中用于隐藏底部 TabBar 的样式 */
.top-page {
  position: relative;
  z-index: 9;
  background-color: #fff;
  /* height: 100vh;
  overflow-y: auto; */
}

/* 灰色分割线 */
.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}

.icon_check {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/detail/icon_check.png) 0 0 / 100% 100%;
}